#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
width:100%;
}

.card {
  padding: 2em;
}

.heroimg {
  max-width: 30%;
  margin: .3rem;
  border-radius: 4px;

}

.nav-list {
  display: flex;
  flex:1;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 50px;
  margin: 0;
  width: 100%;
  background-color: #e8e6e1;
 
}

.nav-item a {
  text-decoration: none;
  color: #555151;
  font-weight: bold;
  font-size: 1.3rem;
}
